@import "../partials/typography";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Variables
$primary-dark: #323232;
$primary-light: #afafaf; 
$primary-content: #ffffff;
$secondary-dark: #000000;
$secondary-light: #e1e1e1;
$secondary-content: #fafafa;
$error-background: #ffacac;
$error:  #D22D2D;
$success-background: lightgreen;
$success: green;
$nav-height: 130px;

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


// MIXINS
@mixin grid-container($columns: repeat(6, minmax(auto, 1fr)), $gap: 24px) {
  display: grid;
  grid-template-columns: $columns;
  grid-auto-rows: minmax(100px, auto);
  gap: $gap;
}

@mixin flex-center($justify: center, $align-items: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

@mixin cta-default {
  background: $primary-dark;
  color: $primary-content;
}

@mixin cta-hover {
  background: $secondary-dark;
  color: $primary-light;
}

@mixin flex-nav {
  height: $nav-height;
  @include flex-center(flex-start);
}

@mixin active {
  border: 1px solid $secondary-light;
}


// Screen media queries
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
