@import "../partials/typography";
@import "../partials/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Variables
$primary-dark: #323232;
$primary-light: #afafaf; 
$primary-content: #ffffff;
$secondary-dark: #000000;
$secondary-light: #e1e1e1;
$secondary-content: #fafafa;
$error-background: #ffacac;
$error:  #D22D2D;
$success-background: lightgreen;
$success: green;
$nav-height: 130px;

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

// Screen media queries
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
