* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

nav {
  background: #323232;
  color: #ffffff;
  width: 100%;
  padding-top: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  nav {
    padding: 8px 16px 0 16px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
nav .nav__logo {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 36px;
  }
}
nav ul li {
  position: relative;
  letter-spacing: 1.2px;
  width: 100%;
  min-width: 120px;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1279px) {
  nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 0;
    margin: auto 50px auto 0;
  }
}
nav ul li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: #ffffff;
  height: 3px;
  width: 0%;
  transition: all 0.4s linear;
}
nav ul li:hover {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}
nav ul li:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  background: url("../assets/images/hero-bio.jpg") center/cover no-repeat;
  width: 100vw;
  height: 25vh;
  -webkit-backdrop-filter: gr;
          backdrop-filter: gr;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 75vh;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.hero h1 {
  color: #ffffff;
  font-size: 24px;
  margin-right: auto;
  margin-left: 2rem;
  z-index: 999;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero h1 {
    font-size: 60px;
    margin-left: 4rem;
  }
}

main {
  width: 100vw;
  padding: 16px 24px;
  overflow-x: hidden;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 24px;
  }
}
main .main__header {
  margin: 1rem 0;
  font-size: 24px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .main__header {
    margin: 2rem 0 1rem 2rem;
    font-size: 36px;
    grid-column: span 12;
  }
}
main img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main img {
    grid-column: 2/12;
  }
}
main .main__quote {
  font-size: 13px;
  margin-top: 0.5rem;
  line-height: 18px;
  letter-spacing: 1px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .main__quote {
    font-size: 20px;
    line-height: 28px;
    grid-column: 2/12;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
  }
}
main .main__quote .main__quote--footer {
  font-size: 13px;
  margin-top: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .main__quote .main__quote--footer {
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
  }
}
main .content {
  margin: 1.5rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    grid-column: 2/12;
  }
}
main .content .content__title {
  font-size: 14px;
  margin-bottom: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .content .content__title {
    font-size: 24px;
    grid-column: span 12;
  }
}
main .content .content__description {
  font-size: 13px;
  line-height: 22px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .content .content__description {
    font-size: 14px;
    grid-column: span 6;
  }
}
main .content .content__description2 {
  margin-top: 1rem;
  font-size: 13px;
  line-height: 22px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1279px) {
  main .content .content__description2 {
    margin-top: 0;
    font-size: 14px;
    grid-column: span 6;
  }
}

.photo-gallery {
  background: #fafafa;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery {
    padding: 20px 0;
  }
}
.photo-gallery h1 {
  font-size: 24px;
  margin-left: 16px;
  padding-top: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery h1 {
    font-size: 36px;
    margin-left: 56px;
  }
}
.photo-gallery .image-container {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(6, minmax(auto, 1fr));
  gap: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery .image-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 16px;
    margin: 0 36px;
  }
}
.photo-gallery .image-container img {
  grid-column: span 6;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery .image-container img {
    grid-column: span 4;
  }
}

footer {
  background: #323232;
  color: #ffffff;
  padding: 24px 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
footer > * {
  margin-bottom: 1rem;
}
footer .footer__header {
  font-size: 24px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}
footer .footer__image-container img {
  margin-right: 1.5rem;
}
footer .footer__subheader {
  font-size: 14px;
  margin-top: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}
footer .footer__logo {
  margin-top: 3rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
footer .copyright {
  font-size: 13px;
}/*# sourceMappingURL=bio.css.map */